.land {
  fill: #CCCCCC;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transition: all 1s;
}

#mapa {
  height: 100vh;
}

.land:hover {
  fill: #454545;
}

.active {
  fill: #404040;
}

.magic-centering {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  text-align: center;
}

.informacion-entrada {
  padding-left: 50px;
}

.padR {
  padding-right: 50px;
}

.informacion-entrada h1 {
  font-weight: $bold;
  margin-top: 60px;
}

.informacion-entrada h2 {
  font-size: 18px;
  font-weight: $light;
}

.informacion-entrada hr {
  border: 2px solid #404040;
  width: 45%;
  text-align: left;
  margin: 20px 0px;
}

#menuServicios {
  width: 100%;
  background-color: rgba(0, 0, 0, .7);
  z-index: 10;
  height: 100vh;
  overflow-y: scroll;
}

.panel-servicios {
  margin: 0px !important;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-radius: 0px !important;
}

.panel-heading {
  background-color: #404040;
  border-radius: 0px !important;
  border: 1px solid #454545;
  line-height: 35px;
  height: 70px;
  transition: all 1s;
}

.panel-heading:hover {
  background-color: darken(#404040, 10%);
}

.panel-heading a {
  display: block;
}

.panel-heading a:hover {
  text-decoration: none;
}

.panel-collapse {
  background-color: rgba(0, 0, 0, 0) !important;
  color: white;
}

.panel-body {
  color: white;
  border: none !important;
  transition: all 1s;
  padding: 15px 0px;
}

.panel-body span {
  color: white;
  font-size: 19px;
  margin-right: 10px;
  padding: 3px;
}

.panel-body h1 {
  color: white;
  font-size: 26px;
  margin: 0px;
  font-weight: normal;
}

.panel-body h2 {
  color: #B8B8B8;
  font-size: 20px;
}

.panel-body img {
  width: 75%;
  margin-top: 25%;
  margin-left: 25%;
}

.panel-title {
  color: #fff;
  font-size: 22px;
  width: 100%;
  font-weight: 300;
  height: 70px;
  line-height: 70px;
}

.panel-title a {
  color: white !important;
  text-decoration: none !important;
  padding-left: 25px;
}

.panel-body a {
  color: white;
  margin-right: 5px;
  transition: all 1s;
}

.panel-body a:hover {
  color: #7D79D4;
  text-decoration: none;
}

.panel-body p {
  color: #d8d8d8;
  font-size: 14px;
  margin: 2px 0px;
}


.logoServicios {
  height: 40px;
  margin-right: 10px;
}

.logo-partido {
  width: 35px;
  padding: 10px 0px;
}


#tweet {
  padding: 70px 0px;
}

#tweet th {
  background-color: #404040;
  color: white;
  font-size: $light;
}

#tweet h3 {
  text-align: center;
  margin: 15px 0px;
  font-size: 30px;
  font-weight: $light;
}

#tweet h1 {}

#tweet p {
  font-size: 20px;
  font-weight: $thin;
}

#tweet th {
  text-align: center;
  padding: 5px 20px;
}

#tweet td {
  text-align: center;
}

.bordertop-gris {
  border-top: 1px solid #404040;
}

#myTable {
  text-align: center;
  margin: 0 auto;
}

#tweet a {
  color: #404040;
  transition: all 1s;
}

#tweet a:hover {
  color: #1B95E0;
}




#hero {
  background-image: url(../images/hero.jpg);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center center;
}

#hero h1 {
  color: white;
  font-weight: $light;
}

#hero span {
  color: #71E4EB;
  font-weight: $regular;
}

#descanso_home {
  height: 40vh;
  width: 100%;
  background-image: url(../images/descanso.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#intro_home {
  padding: 60px 0px;
}

#intro_home h1 {
  font-size: 29px;
  margin-bottom: 20px;
}

#intro_home h2 {
  font-size: 22px;
  font-weight: $light;
}

#proyectos_home {
  padding: 50px 0px;
  background-color: #292929;
}

.proyectos {
  margin: 0px 20px;
  padding: 25px;
  border: 1px solid #f2f2f2;
  color: #f2f2f2;
  height: 565px;
}

.proyectos a,
input[type="submit"],
.archive-posts-singles a {
  text-align: center;
  padding: 15px 30px;
  border: 1px solid #f2f2f2;
  color: #f2f2f2;
  transition: all 1s;
  font-size: 25px;
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0);
}

.proyectos a:hover,
input[type="submit"]:hover,
.archive-posts-singles a:hover {
  background-color: #f2f2f2;
  color: #292929;
  text-decoration: none;
}

.proyectos p {
  font-weight: $light;
  text-align: justify;
}

.proyectos h1 {
  margin-bottom: 25px;
}

.logo_hero {
  width: 240px;
}


#cta_home,
#tuitea-archive-titulo {
  padding: 60px 150px;
}

#tuitea-archive-titulo{
  text-align: center;
}
#cta_home h1 {
  font-size: 25px;
}

#tuitea-archive-titulo h1 {
      font-size: 75px;
    margin-bottom: 35px;
    font-weight: bolder;
}
#cta_home h2 {
  font-size: 18px;
}

#tuitea-archive-titulo h2 {
      font-size: 33px;
    line-height: 50px;
}


#cta_home a, #tuitea-archive-titulo a {
  padding: 15px 30px;
  color: #292929;
  border: 1px solid #292929;
  transition: all 1s;
  font-size: 20px;
  margin-top: 20px;
}

#cta_home a:hover, #tuitea-archive-titulo a:hover {
  color: white;
  background-color: #292929;
  text-decoration: none;
}

#contacto {
  height: 100vh;
  width: 100%;
}

.box_contacto {
  padding: 30px 25px;
  background-color: #292929;
}

#tuits-archive-posts {
  background-color: #292929;
}

.archive-posts-singles {
  margin: 20px 10px;
  padding: 20px;
  border: 1px solid #e2e2e2;
  color: white;
  height: 350px;
}

.box_contacto h1 {
  color: white;
}

.box_contacto p {
  margin: 0;
}

input {
  display: block;
}

input[type="text"],
input[type="email"] {
  background-color: rgba(0, 0, 0, 0);
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #a2a2a2;
  color: white;
  margin-bottom: 10px;
  width: 300px;
}

textarea {
  width: 50vw;
  margin-top: 10px;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #a2a2a2;
  resize: none;
  color: white;
  height: 100px;
}

input[type="submit"] {
  margin-bottom: 0px;
}
.archive-posts-singles a{
      position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 200px;
}
div.wpcf7-mail-sent-ok {
    border: none;
}
@media screen and (max-width: 768px) {
  #contacto {
    padding: 20px;
    height: unset;
    width: 100%;
  }
  .dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 250px;
  }
  .dropdown-item {
    padding: 3px 0px;
  }
  textarea {
    width: 80vw;
  }
  .table-responsive-mobile {
    display: block;
    width: 100%;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  #descanso_home {
    background-attachment: unset;
  }
  .logo_hero {
    width: 165px;
  }
  #hero h1 {
    font-size: 32px;
  }
  .proyectos h1 {
    font-size: 23px;
  }
  .proyectos p {
    font-size: 15px;
  }
  .proyectos {
    margin: 20px 20px;
    padding: 25px;
    height: unset;
  }
  #cta_home,
  #tuitea-archive-titulo {
    padding: 60px 30px;
  }
  .informacion-entrada {
    padding: 0 20px;
  }
  .padR {
    padding: 0px 15px;
    height: 60vh;
  }

.dropdown-toggle:before {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
    transform: rotate(0deg)
}

}
