.land {
  fill: #CCCCCC;
  fill-opacity: 1;
  stroke: white;
  stroke-opacity: 1;
  stroke-width: 0.5;
  transition: all 1s;
}

#mapa{
	height: 100vh;
}
.land:hover{
	fill:#454545;
}
.active{
	fill:#404040;
}

.magic-centering{
	display: flex;
	 justify-content: center;
  align-items: center; 
}
.informacion-entrada{
	padding-left: 50px;
}

.padR{padding-right: 50px;}
.informacion-entrada h1{
	font-weight: $bold;
	margin-top: 60px;
}

.informacion-entrada h2{
	font-size: 18px;
	font-weight: $light;
}

.informacion-entrada hr{
	border: 2px solid #404040;
	width: 45%;
	text-align: left;
	margin: 20px 0px;
}

#menuServicios {
    width: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 10;
    height: 100vh;
    overflow-y: scroll;
}
body{
	overflow: hidden;
}
.panel-servicios {
    margin: 0px !important;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 0px !important;
}

.panel-heading {
    background-color:#404040;
    border-radius: 0px !important;
    border: 1px solid #454545;
    line-height: 35px;
    height: 70px;
    transition: all 1s;
}
.panel-heading:hover {
    background-color: darken(#404040,10%);
}
.panel-heading a{
   display: block;
}
.panel-heading a:hover{
	text-decoration: none;
}
.panel-collapse {
    background-color: rgba(0, 0, 0, 0) !important;
    color: white;
}

.panel-body {
    color: white;
    border: none !important;
    transition: all 1s;
    padding: 15px 0px;
}

.panel-body span {
    color: white;
    font-size: 19px;
    margin-right: 10px;
    padding: 3px;
}
.panel-body h1 {
    color: white;
    font-size: 26px;
    margin: 0px;
    font-weight: normal;
}
.panel-body h2{
	color: #B8B8B8;
	font-size: 20px;
}
.panel-body img{
	    width: 75%;
    margin-top: 25%;
    margin-left: 25%;
}
.panel-title {
    color: #fff;
    font-size: 22px;
    width: 100%;
    font-weight: 300;
    height: 70px;
    line-height: 70px;
}

.panel-title a{
	color: white !important;
	text-decoration: none !important;
	padding-left: 25px;
}
.panel-body a{
	color: white;
	margin-right: 5px;
	transition: all 1s;
}
.panel-body a:hover{
	color: #7D79D4;
	text-decoration: none;
}
.panel-body p {
    color: #d8d8d8;
    font-size: 14px;
    margin: 2px 0px;
}


.logoServicios{
    height: 40px;
    margin-right: 10px;
}